header {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#header-head {
    position: relative;
}

#header-head,
#header-head-image {
    width: 100%;
}

#header-title-elements-container {
    margin-bottom: 0 !important;
}

#header-title {
    position: absolute;
    width: 100%;
}

#logo-header {
    width: 8vw;
}

#header-title-text h1 {
    font-family: SimplyRounded-Bold;
    color: #71bb79;
    font-size: 5rem;
}

#page-description {
    text-align: center;
    max-width: 90vw;
    margin: auto;
    font-family: "roboto";
    font-weight: 700;
    color: white;
    font-size: 1.5rem;
}

#header-video {
    width: 100%;
    height: 50vh;
    margin: auto;
}

#header-content {
    width: 998px;
    margin: auto;
}

#header-texts {
    color: white;
    font-family: SimplyRounded-Bold;
}

#header-texts h2 {
    text-align: center;
}

#header-texts p {
    font-size: 1.1rem;
}


#header-subtitle {
    font-size: 1.35rem;
    line-height: 1.5;
    margin-top: 1%;
    text-align: left;
}