#instructions-section {
    margin-top: 20vh;
}

@media screen and (max-height: 800px) {
    #instructions-section {
        height: 140vh;
    }
}

#insctructions {
    color: white;
    font-family: "roboto";
    font-weight: 700;
    margin-top  : 5%;
}



.instructions-title h2 {
    font-family: SimplyRounded-Bold;
    color: #71bb79;
    font-size: 2.5rem;
    text-align: center;
}

.instruction {
    font-size: 1rem;
    width: 33.33%;
    text-align: center;
    margin-top: 1%;
}

.instruction-icon {
    width: 5vw;
}
#instruction-icon-2{
    width: 8vw
} 

#stop-instruction-icon {
    width: 4vw;
}

#intermediate {
    background-color: white;
    width: 0.5rem;
    height: 9vh;
}

.images-instruction {
    margin-top: 1%;
}

#button-continue {
    color: white;
    width: auto;
    font-family: "roboto";
    padding: 0 1vw;
    font-size: 1.5rem; 
    margin: 11vh auto;
    border: 2px solid #71bb79;
    background-color: #71bb79;
    border-radius: 20px;
    font-weight: 500;

}

#button-continue:hover {
    color: white;
    border: 2px solid #71bb79;
    background-color: #71bb79;

}

#map {
    width: 90vw;
    height: 40vh;
    margin: auto;   
    margin-bottom: 1vh;
    border:2px solid white;
}

#miraflores-title {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#button-map {
    color: white;
    width: auto;
    font-family: "roboto";
    padding: 0 2.5%;
    font-size: 1.5rem;  
    border: 1px solid #71bb79;
    background-color: #71bb79;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 5px;
}

#instruction-3-icon {
    width: 1.8vw;
}

#instructions-3-text {
    margin: 0 !important;
}

#instructions-title{
    position: relative;
}
