@keyframes menu-stop-1 {
    0% {
        top: 56%;
    }
    50% {
        top: 54%;
    }
    100% {
        top: 56%;
    }
}

/************ Menu *************/

#stops-menu {
    display: none;
    position: absolute;
    top: 0;
    z-index: 3000;
}

#stops-menu ul {
    margin: 0 !important;
    padding: 0 !important;
}

#stops-title,
.stop-menu {
    background-color: #386338;
    color: white;
    font-family: SimplyRounded-Bold;
    text-align: center;
    box-sizing: unset;
    cursor: pointer;
}

#stops-title {
    font-size: 27.9px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    padding: 8px 15px;
}

.stop-menu {
    display: table;
    font-size: 35px;
    width: 62px;
    padding: 20px 0px;
    border-bottom: 3px solid white;
}

#stop-menu-list-6 {
    border-radius: 0 0 50px 50px;
    border-bottom: unset;
}

/********** Park View *************/

#logo {
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 2;
    border-radius: 22%;
}

#park-dialog {
    width: 35%;
    position: absolute;
    right: 0;
    top: 40%;
    cursor: pointer;
    font-family: SimplyRounded-Bold;
}

#park-dialog:hover {
    width: 40%;
    font-size: 1rem;
    right: 0;
    top: 40%;
}

#stop-0-static-content {
    position: absolute;
    left: 0%;
    top: 10%;
    
}

#stop-0-static-content #back-image {
    width: 70%;
       
}

.stop-icon {
    position: absolute;
    width: 4vw;
    cursor: pointer;
}

#stop-menu-1 {
    top: 56%;
    left: 25%;

    animation: menu-stop-1 2s infinite;
}

#stop-menu-1:hover {
    animation: menu-stop-1 2s infinite, hvr-pulse 1s infinite;
}

#stop-menu-2 {
    top: 38%;
    left: 6%;
}

#stop-menu-3 {
    top: 11%;
    left: 5%;
}

#stop-menu-4 {
    top: 4%;
    left: 20%;
}

#stop-menu-5 {
    top: 10%;
    left: 50%;
}

#stop-menu-6 {
    top: 40%;
    left: 50%;
}

#park-map {
    display: block;
}

#park-map.show {
    display: block ;
}
