/****** Fonts ******/

@font-face {
    font-family: SimplyRounded-Bold;
    src: url(../fonts/simplyRounded/SIMPLY-ROUNDED-BOLD.TTF);
}

@keyframes nav-icons-show {
    0% {
        margin-right: 0vw;
    }
    100% {
        margin-right: 1vw;
    }
}

/*********** ScrollBar *****/

html {
    overflow-y: scroll;
    overflow-y: overlay;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #386338;
    border-radius: 20px;
}

/*********** Body ***********/

body {
    margin: 0 !important;
    min-height: 100vh;
    background: transparent linear-gradient(90deg, #382f35 0%, #362e34 3%, #232529 60%, #1d2225 100%) 0% 0% no-repeat
        padding-box;
}

/********** All Stops ****************/

.stop-view,
#instructions-section {
    height: 100vh;
    margin-top: 10vh;
    width: 100%;
    position: relative;
    margin: auto;
}

nav {
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    z-index: 100000;
}

nav .floating-action {
    display: none;
    width: 3rem;
    cursor: pointer;
    z-index: 100001;
    margin-right: 1vw;
    transition: margin-right 1s ease-in-out;
}

nav:hover .floating-action {
    display: unset;

    animation-name: nav-icons-show;
    animation-iteration-count: 1;
    animation-duration: 0.7s;
}

nav:hover .floating-action:hover {
    animation: hvr-pulse 1s infinite;
    margin-right: 1vw !important;
}

#floating-menu {
    transform: rotate(90deg);
    cursor: pointer;
    z-index: 100001;
    margin-right: 0 !important;
}

/* Utils */

.rounded-dialog {
    background-color: white;
    border-radius: 12px;
    padding: 22px 9px 26px 17px;
    font-family: "roboto";
    font-weight: 500;
    z-index: 1000;
}

/* Dialog */
.dialog-container {
    position: absolute;
}

.dialog {
    position: relative;
}

.dialog .dialog-text-container {
    z-index: 1001;
    color: black;
    font-family: SimplyRounded-Bold;
    position: relative;
}

.dialog .dialog-text-container div {
    margin: auto;
}

.dialog img {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    object-fit: fill;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

/*Rivers*/

#river-1 {
    position: absolute;
    width: 100%;
    top: 460vh;
    left: 0;    
    height: 210vh;
    z-index: -1000;
}

#river-2 {
    position: absolute;
    top: 700vh;
    width: 100%;
    height: 380vh;
    z-index: -1000;
}

/*Time line*/

.time-line {
    display: none;
}

.time-line-container {
    width: 90vw;
}

.time-line-container {
    position: absolute;
    bottom: 3vh;
    width: 100%;
}


.container-wrapper{
    width: 998px;
    margin: auto;
}