/****** Fonts ******/

@font-face {
    font-family: SimplyRounded-Bold;
    src: url(../fonts/simplyRounded/SIMPLY-ROUNDED-BOLD.TTF);
}

@keyframes nav-icons-show {
    0% {
        margin-right: 0vw;
    }
    100% {
        margin-right: 1vw;
    }
}

/*********** ScrollBar *****/

html {
    overflow-y: scroll;
    overflow-y: overlay;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #386338;
    border-radius: 20px;
}

/*********** Body ***********/

body {
    margin: 0 !important;
    min-height: 100vh;
    background: transparent linear-gradient(90deg, #382f35 0%, #362e34 3%, #232529 60%, #1d2225 100%) 0% 0% no-repeat padding-box;
}

/********** All Stops ****************/

.stop-view, #instructions-section {
    height: 100vh;
    margin-top: 10vh;
    width: 100%;
    position: relative;
    margin: auto;
}

nav {
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    z-index: 100000;
}

nav .floating-action {
    display: none;
    width: 3rem;
    cursor: pointer;
    z-index: 100001;
    margin-right: 1vw;
    transition: margin-right 1s ease-in-out;
}

nav:hover .floating-action {
    display: unset;
    animation-name: nav-icons-show;
    animation-iteration-count: 1;
    animation-duration: 0.7s;
}

nav:hover .floating-action:hover {
    animation: hvr-pulse 1s infinite;
    margin-right: 1vw !important;
}

#floating-menu {
    transform: rotate(90deg);
    cursor: pointer;
    z-index: 100001;
    margin-right: 0 !important;
}

/* Utils */

.rounded-dialog {
    background-color: white;
    border-radius: 12px;
    padding: 22px 9px 26px 17px;
    font-family: "roboto";
    font-weight: 500;
    z-index: 1000;
}

/* Dialog */

.dialog-container {
    position: absolute;
}

.dialog {
    position: relative;
}

.dialog .dialog-text-container {
    z-index: 1001;
    color: black;
    font-family: SimplyRounded-Bold;
    position: relative;
}

.dialog .dialog-text-container div {
    margin: auto;
}

.dialog img {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    object-fit: fill;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

/*Rivers*/

#river-1 {
    position: absolute;
    width: 100%;
    top: 460vh;
    left: 0;
    height: 210vh;
    z-index: -1000;
}

#river-2 {
    position: absolute;
    top: 700vh;
    width: 100%;
    height: 380vh;
    z-index: -1000;
}

/*ee line*/

.time-line {
    display: none;
}

.time-line-exc {
    width: 80%;
}

.time-line-container {
    position: absolute;
    bottom: 3vh;
    width: 100%;
    z-index: 10001;
}

.container-wrapper {
    width: 1440px;
    margin: auto;
}

.social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
    z-index: 100001;
}

.social-nav li {
    display: inline-block;
    margin-top: 5px;
}

.social-nav .search {
    position: relative;
}

.content-input {
    
    position: fixed;
    right: 1.7%;
    top: 40% !important;
    width: 50px;
    border-radius: 10px;
    height: 48px;
    background:  white;
    line-height: 0;
    padding: 0;
    display: none;
    align-items: center;
    justify-content: center;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: width 0.5s;
}
.content-input button{
    cursor: pointer;
    border: none;
    background:transparent;
    width: auto;
    height: auto;
    padding: 5%;
    
}


.show-content {
    display: flex !important;
    width: 200px;
    z-index: 1000001;   
   
}

.hidden{
    visibility: hidden;
    
}
.content-input input[type="text"] {
    width: 60%;
    margin: 0;
    outline: 0;
    height: 80%;
    border: none;
    font-size: 12px;
    padding: 0;
}

.social-nav a {
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 64px;
    height: 48px;
    font-size: 1.2rem;
    color: #FFFFFF;
    background: #71bb79;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
    right: 0;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.model-0 {
    position: fixed;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    right: 1.7%;
    top: 40% !important;
}

.model-0 li {
    float: none;
    display: block;
}

.model-0 a:hover {
    background: #044444;
    right: 25%;
    width: 125%;
    position: relative;
}

.transparency {
    filter: invert(100%);
}

.modal {
    z-index: 1000000001;
}

.modal-header {
    width: 100%;
}

.modal-dialog {
    max-width: 600px;
}